* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 30px auto;
  border: 1px solid #999;
  border-radius: 8px;
  width: 90%;
  padding: 20px;
  font-family: "inter";
  font-size: 0.7rem;
}

.timeline-item {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 1px solid transparent;
}

.content {
  display: block;
  text-align: end;
  width: 50%;
}

h2 {
  margin-bottom: 20px;
}

p {
  color: #999;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #999;
  margin-bottom: 20px;
}

button a {
  text-decoration: none;
  color: #999;
  font-weight: 600;
}

.column-time {
  width: 50px;
  position: relative;
  display: block;
}
.column-time i {
  color: #4ca798;
  background-color: #edf6f4;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.032);
  border-radius: 50%;
}
.down-line {
  width: 1px;
  height: 90%;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.248);
  position: absolute;
  left: 13px;
}
.time {
  margin-top: 5px;
  display: flex;
  gap: 3px;
}

.timeline-item:hover .content {
  transform: translatex(100%);
  transition: transform 0.5s;
}
.timeline-item:hover .firt-year {
  transform: translatex(-380%);
  transition: transform 0.5s;
}
.timeline-item:hover .dash {
  transform: translatex(-2800%);
  transition: transform 0.5s;
}
.timeline-item:hover .last-year {
  transform: translatex(-700%);
  transition: transform 0.5s;
}
.timeline-item:hover .content button {
  background-color: #a26f5a;
}
.timeline-item:hover .content button a {
  color: white;
}
.img-item {
  display: flex;
  position: relative;
}
.firt-img {
  width: 350px;
  height: 450px;
  position: absolute;
  left: 250px;
  top: 20px;
  background-image: url("../../image/00034-4163831307.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.second-img {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 130px;
  top: 180px;
  background-image: url("../../image/159649588_216211606604448_2326612313189298497_n.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.last-img {
  width: 280px;
  height: 380px;
  position: absolute;
  left: 140px;
  top: 190px;
  background: #00f;
}

.img-item .last-img h1 {
  font-size: 6rem;
  position: absolute;
  width: 280px;
  height: 380px;
  left: 70px;
  top: 190px;
  background-image: url("../../image/159649588_216211606604448_2326612313189298497_n.jpg");
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.img-item p {
  font-size: 1rem;
  position: absolute;
  left: 120px;
  top: 300px;
  color: #bfc7e4;
}

.content h2 {
  font-family: "Space Grotesk";
}
