/* #title{
    color: red;
}
.sub-title{
    color: green;
}.title-small{
    font-size: large;
}
h3 {
    color: violet;
}
.warapper .title {
    color: black;
}
.box{
    color: green;
}
.menu > li {
    color: red;
}
.menu .item {
    color: violet;
} */
/* div.content h2 {
    color: red;
}
section.content#box h2{
    color: aqua;
}
p ~ h2{
    color: rgb(16, 150, 63);

}p ~ div h2{
    color: brown;
}
/* chọn thẻ h2 nằm trong thẻ div nằm sau thẻ p */
/* p + h2 + h2 {
    color: chocolate;
} */
/* chọn 1 thẻ h2 nằm sau 1 thẻ h2 nằm sau 1 thẻ p */
/* h2 + h2{
    color: yellow ;
} */
/* chọn thẻ h2 nằm sau thẻ h2 thứ 2 */
/* p + h2,
p + h2 + h2 {
    color: red;
}  */

/* atrribute selector */
/* 1. [tenthuoctinh] => chonnj tất cả thẻ html có thuộc tính
    2. [tenthuoctinh="giatri]==> chọn tất cả thẻ html có thuộc tính =giá trị
    3. [tenthuoctinh^="giatri ==>  chọn tất cả thẻ html có giá trị thuộc tính bắt dầu bằng giá trị
    4.[tenthuoctinh$=giatri"] ==> chọn tất cả thẻ html có giá trị thuộc tính kết thúc bằng giatri
    5 [tenthuoctinh*="giatri"] ==< chọn tất cả thẻ html có thuộc tính chứa giá trị
    6. [tenthuoctinh~="giatri] ==> chọn tất cả thẻ html có thuộc tính chứa giatri là 1 từ
    * ==> đại diện cho tất cả thẻ html
    */
/* ul li a[href] {
  color: red;
} */
/* [class^="title-"] {
  color: green;
} */
/* * {
  color: red;
} */
/* $ - số thứ tự tăng dần
 # id 
 . class
 > cấp tiếp theo */
.content > * {
  border: 1px solid rgb(188, 3, 3);
}
