.sign-wrapp{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}
* {
    box-sizing: border-box;
  }
.all{
background-color: #ccc;
margin: 20px auto;
}
.sign-wrapp>div{
    padding: 0 10px;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 10px;
}
label{
    font-weight: bolder;
    display: block;
    padding: 8px;
}
input{
    border-radius:3px;
    border: 2px solid rgb(253, 249, 249);
    width: 100%;
    padding: 0 10px;
    height: 30px;
}
select{
    border-radius:3px;
    border: 2px solid rgb(253, 249, 249);
    width: 100%;
    height: 30px;
}
label>span{
    font-size: small;
    opacity: 0.4;
}
.send{
    color: #fff;
    padding: 16px;
    border-radius: 5px;
    background-color: #3fab46;
    margin: 20px auto;
    width: 100;
    height: 60px;
}
.sign_all{
    background-color: #ccc;
    border: 1px solid black;
    width: 600px;
    border-radius: 8px;
    margin: 20px auto;
    padding: 16px;
}

