* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 15px auto;
}

.container_message {
  width: 1024px;
  display: block;
  margin: 10px auto;
  outline: 1px solid rgba(0, 0, 0, 0.163);
  color: #363f50;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 0.5rem;
}

h1 {
  text-align: center;
}

p {
  margin: 20px auto;
  text-align: center;
  font-size: 1.3rem;
  color: #717489;
  font-weight: 500;
}

.form_message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px 25px;
  background-color: #fefefe;
  position: relative;
}

input {
  padding: 18px;
  width: 450px;
  border: 1px solid #363f5034;
  border-radius: 5px;
  font-size: 1.2rem;
}

select {
  color: #999;
  padding: 18px;
  width: 450px;
  border: 0.5px solid #363f5034;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  border: 1px solid #363f5034;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 1rem;
  resize: none;
}

button {
  padding: 8px;
  border: 0.5px solid transparent;
  border-radius: 999px;
  padding: 10px 25px 10px 25px;
  background-color: #4d77d8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}

.form-wrap {
  position: relative;
}

label {
  position: absolute;
  left: 19px;
  top: 20px;
  user-select: none;
  color: #999;
  pointer-events: none;
  font-size: 1.2;
}
.form-wrap input:focus + label {
  top: 5px;
  font-size: 0.8rem;
}

.form-wrap textarea:focus + label {
  top: 5px;
  font-size: 0.8rem;
}
option {
  border-radius: 5px;
  border: 1px solid #999;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: 1px solid #999;
}

select:focus,
select:active {
  outline: none;
}
