@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "SFU";
  src: url("../../fonts/SFUTradeGothic-BoldCondensedTwenty.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.baner {
  width: 80%;
  height: 100vh;
  margin: 10rem auto;
}
.background-bn {
  background-image: url("../../image/ha-noi-melody-residences-cover.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50vh;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.content {
  position: absolute;
  width: 31rem;
  height: 22vh;
  background-color: rgba(255, 255, 255, 0.703);
  border-radius: 3px;
  font-family: "Asap", sans-serif;
  font-size: 0.8rem;
  left: 18rem;
  top: 16.5rem;
  z-index: 99;
  padding: 1rem;
  color: #3f3424;
}
h2 {
  color: #bf4240;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
p {
  margin-bottom: 0.8rem;
  line-height: 1.4rem;
}

i {
  color: black;
}
.price {
  position: absolute;
  background-color: #dd5e56;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  z-index: 999;
  left: 39.5rem;
  top: 25rem;
  font-family: "SFU";
  font-size: 1.2rem;
}
